## 학습 부진 학생 예측  - 전처리

### 0. 라이브러리 호출

In [1]:
# Library
import pandas as pd
import numpy as np
from tqdm import tqdm

import warnings
warnings.filterwarnings(action='ignore')

### 1. 웹엑스 데이터 처리

In [2]:
# 2020학년도 1학기 - 2021학년도 1학기
data1 = pd.read_csv('Webex 학습 기록/Webex 학습 기록_202110150923_01.csv', encoding='cp949')
data2 = pd.read_csv('Webex 학습 기록/Webex 학습 기록_202110150932_02.csv', encoding='cp949')
data3 = pd.read_csv('Webex 학습 기록/Webex 학습 기록_202110150942_03.csv', encoding='cp949')
data4 = pd.read_csv('Webex 학습 기록/Webex 학습 기록_202110150948_04.csv', encoding='cp949')
data5 = pd.read_csv('Webex 학습 기록/Webex 학습 기록_202110150954_05.csv', encoding='cp949')
data6 = pd.read_csv('Webex 학습 기록/Webex 학습 기록_202110151000_06.csv', encoding='cp949')
data7 = pd.read_csv('Webex 학습 기록/Webex 학습 기록_202110151007_07.csv', encoding='cp949')
data8 = pd.read_csv('Webex 학습 기록/Webex 학습 기록_202110151015_08.csv', encoding='cp949')
data9 = pd.read_csv('Webex 학습 기록/Webex 학습 기록_202110151021_09.csv', encoding='cp949')
data10 = pd.read_csv('Webex 학습 기록/Webex 학습 기록_202110151025_10.csv', encoding='cp949')
data11 = pd.read_csv('Webex 학습 기록/Webex 학습 기록_202110151029_11.csv', encoding='cp949')
data12 = pd.read_csv('Webex 학습 기록/Webex 학습 기록_202110151033_12.csv', encoding='cp949')


# 2021학년도 2학기
data13 = pd.read_csv('Webex 학습 기록/Webex 학습 기록_2021학년도_2학기.csv', encoding='cp949')

In [3]:
# 데이터타입 변경
data1.loc[:, ['USER_ID']] = data1.loc[:, ['USER_ID']].astype('str')
data2.loc[:, ['USER_ID']] = data2.loc[:, ['USER_ID']].astype('str')
data3.loc[:, ['USER_ID']] = data3.loc[:, ['USER_ID']].astype('str')
data4.loc[:, ['USER_ID']] = data4.loc[:, ['USER_ID']].astype('str')
data5.loc[:, ['USER_ID']] = data5.loc[:, ['USER_ID']].astype('str')
data6.loc[:, ['USER_ID']] = data6.loc[:, ['USER_ID']].astype('str')
data7.loc[:, ['USER_ID']] = data7.loc[:, ['USER_ID']].astype('str')
data8.loc[:, ['USER_ID']] = data8.loc[:, ['USER_ID']].astype('str')
data9.loc[:, ['USER_ID']] = data9.loc[:, ['USER_ID']].astype('str')
data10.loc[:, ['USER_ID']] = data10.loc[:, ['USER_ID']].astype('str')
data11.loc[:, ['USER_ID']] = data11.loc[:, ['USER_ID']].astype('str')
data12.loc[:, ['USER_ID']] = data12.loc[:, ['USER_ID']].astype('str')
data13.loc[:, ['USER_ID']] = data13.loc[:, ['USER_ID']].astype('str')

In [4]:
# 병합
data_train = pd.concat([data1, data2, data3, data4, data5, data6, data7, data8, data9, data10, data11, data12])
data_test = data13

In [5]:
# 학번, 시간순으로 정렬
data_train.sort_values(by=['USER_ID', 'JOIN_TIME'], ascending=True, inplace=True)
data_test.sort_values(by=['USER_ID', 'JOIN_TIME'], ascending=True, inplace=True)

In [6]:
# 학번이 10자리가 아니면 제거
data_train = data_train.loc[data_train['USER_ID'].str.len() == 10]
data_test = data_test.loc[data_test['USER_ID'].str.len() == 10]

In [7]:
# NEW_ID 생성하기 (학번+강의ID)
data_train['NEW_ID'] = data_train['USER_ID'] + data_train['COURSE_ID']
data_test['NEW_ID'] = data_test['USER_ID'] + data_test['COURSE_ID']

In [8]:
# 필요한 컬럼만 추출
data_train = data_train[['NEW_ID', 'COURSE_ID', 'LESSON_ELEMENT_ID', 'USER_ID', 'JOIN_TIME', 'LEAVE_TIME', 'DURATION', 'CLIENT_AGENT']]
data_test = data_test[['NEW_ID', 'COURSE_ID', 'CONTENTS_ID', 'USER_ID', 'JOIN_TIME', 'LEAVE_TIME', 'DURATION', 'clientAgent']]

In [9]:
# 컬럼명 변경
data_test.rename(columns={'CONTENTS_ID':'LESSON_ELEMENT_ID', 'clientAgent':'CLIENT_AGENT'}, inplace=True)

#### 1-1. 시간 관련 전처리

In [10]:
# training data는 2020년 2학기 - 2021년 1학기로 한다.
# test data는 2021학년도 2학기로 한다.
# 비율로 할거라서 주차는 상관없이 처리한다.

In [11]:
# data_train에 2020년 1학기 데이터 drop (14건 밖에 없음)
idx = data_train.loc[data_train['NEW_ID'].str.contains('S2020U0002001')].index
data_train.drop(idx, inplace=True)

In [12]:
# data_train에 일부 2021학년도 2학기 데이터 섞여있음 > 삭제
idx = data_train.loc[data_train['NEW_ID'].str.contains('S2021U0002003')].index
data_train.drop(idx, inplace=True)

In [13]:
# data_test에 일부 2021학년도 1학기 데이터 섞여있음 > 삭제
idx = data_test.loc[data_test['NEW_ID'].str.contains('S2021U0002001')].index
data_test.drop(idx, inplace=True)

# 2020년도 1학기도 1개 있음 (왜..?) > 삭제
idx = data_test.loc[data_test['NEW_ID'].str.contains('S2020U0002001')].index
data_test.drop(idx, inplace=True)

# 2020년도 2학기도 1개 있음 (왜..?) > 삭제
idx = data_test.loc[data_test['NEW_ID'].str.contains('S2020U0002003')].index
data_test.drop(idx, inplace=True)

In [14]:
# 여름계절학기 drop (겨울 계절 데이터는 없음)
idx = data_train[data_train['NEW_ID'].str.contains('S2021U0002002')].index
data_train.drop(idx, inplace=True)

In [15]:
data_test.dropna(inplace=True)

In [16]:
data_train.reset_index(drop=True, inplace=True)
data_test.reset_index(drop=True, inplace=True)

#### 웹/모바일 시간 나누기

In [17]:
# 웹/모바일 접속기기에 따른 수강시간 계산
data_train.insert(8, 'WEB_STUDY_TIME', '')
data_train.insert(9, 'MOBILE_STUDY_TIME', '')

data_test.insert(8, 'WEB_STUDY_TIME', '')
data_test.insert(9, 'MOBILE_STUDY_TIME', '')

In [18]:
# 웹 접속시간 계산

# 윈도우
a_train = data_train.loc[data_train['CLIENT_AGENT'].str.contains('WINDOWS')]
a_train['WEB_STUDY_TIME'] = np.where(a_train['CLIENT_AGENT'].str.contains('WINDOWS'), a_train['DURATION'], '')

a_test = data_test.loc[data_test['CLIENT_AGENT'].str.contains('WINDOWS')]
a_test['WEB_STUDY_TIME'] = np.where(a_test['CLIENT_AGENT'].str.contains('WINDOWS'), a_test['DURATION'], '')

In [19]:
# 맥
b_train = data_train.loc[data_train['CLIENT_AGENT'].str.contains('MAC')]
b_train['WEB_STUDY_TIME'] = np.where(b_train['CLIENT_AGENT'].str.contains('MAC'), b_train['DURATION'], '')

b_test = data_test.loc[data_test['CLIENT_AGENT'].str.contains('MAC')]
b_test['WEB_STUDY_TIME'] = np.where(b_test['CLIENT_AGENT'].str.contains('MAC'), b_test['DURATION'], '')

In [20]:
# WEB BASED THIN CLIENT
c_train = data_train.loc[data_train['CLIENT_AGENT'].str.contains('WEB BASED THIN CLIENT')]
c_train['WEB_STUDY_TIME'] = np.where(c_train['CLIENT_AGENT'].str.contains('WEB BASED THIN CLIENT'), c_train['DURATION'], '')

c_test = data_test.loc[data_test['CLIENT_AGENT'].str.contains('WEB BASED THIN CLIENT')]
c_test['WEB_STUDY_TIME'] = np.where(c_test['CLIENT_AGENT'].str.contains('WEB BASED THIN CLIENT'), c_test['DURATION'], '')

In [21]:
# 웹 데이터 병합
train_pc = pd.concat([a_train, b_train, c_train])
test_pc = pd.concat([a_test, b_test, c_test])

In [22]:
# 모바일 접속시간 계산

# IPHONE
d_train = data_train.loc[data_train['CLIENT_AGENT'].str.contains('IPHONE')]
d_train['MOBILE_STUDY_TIME'] = np.where(d_train['CLIENT_AGENT'].str.contains('IPHONE'), d_train['DURATION'], '')

d_test = data_test.loc[data_test['CLIENT_AGENT'].str.contains('IPHONE')]
d_test['MOBILE_STUDY_TIME'] = np.where(d_test['CLIENT_AGENT'].str.contains('IPHONE'), d_test['DURATION'], '')

In [23]:
# Android
e_train = data_train.loc[data_train['CLIENT_AGENT'].str.contains('Android')]
e_train['MOBILE_STUDY_TIME'] = np.where(e_train['CLIENT_AGENT'].str.contains('Android'), e_train['DURATION'], '')

e_test = data_test.loc[data_test['CLIENT_AGENT'].str.contains('Android')]
e_test['MOBILE_STUDY_TIME'] = np.where(e_test['CLIENT_AGENT'].str.contains('Android'), e_test['DURATION'], '')

In [24]:
# Video device
f_train = data_train.loc[data_train['CLIENT_AGENT'].str.contains('Video device')]
f_train['MOBILE_STUDY_TIME'] = np.where(f_train['CLIENT_AGENT'].str.contains('Video device'), f_train['DURATION'], '')

f_test = data_test.loc[data_test['CLIENT_AGENT'].str.contains('Video device')]
f_test['MOBILE_STUDY_TIME'] = np.where(f_test['CLIENT_AGENT'].str.contains('Video device'), f_test['DURATION'], '')

In [25]:
# IPAD
g_train = data_train.loc[data_train['CLIENT_AGENT'].str.contains('IPAD')]
g_train['MOBILE_STUDY_TIME'] = np.where(g_train['CLIENT_AGENT'].str.contains('IPAD'), g_train['DURATION'], '')

g_test = data_test.loc[data_test['CLIENT_AGENT'].str.contains('IPAD')]
g_test['MOBILE_STUDY_TIME'] = np.where(g_test['CLIENT_AGENT'].str.contains('IPAD'), g_test['DURATION'], '')

In [26]:
# 모바일 데이터 병합
train_mobile = pd.concat([d_train, e_train, f_train, g_train])
test_mobile = pd.concat([d_test, e_test, f_test, g_test])

In [27]:
# 웹/모바일 데이터 합치기
data_train_new = pd.concat([train_pc, train_mobile])
data_test_new = pd.concat([test_pc, test_mobile])

In [28]:
# 웹 또는 모바일로 수업을 듣지 않았으면 0으로 처리
data_train_new['WEB_STUDY_TIME'] = data_train_new['WEB_STUDY_TIME'].replace('', '0')
data_train_new['MOBILE_STUDY_TIME'] = data_train_new['MOBILE_STUDY_TIME'].replace('', '0')

data_test_new['WEB_STUDY_TIME'] = data_test_new['WEB_STUDY_TIME'].replace('', '0')
data_test_new['MOBILE_STUDY_TIME'] = data_test_new['MOBILE_STUDY_TIME'].replace('', '0')

### 1-1. 강의 수강 시간 등

In [29]:
# 데이터 타입 변경
data_train_new.loc[:, ['WEB_STUDY_TIME']] = data_train_new.loc[:, ['WEB_STUDY_TIME']].astype('float')
data_train_new.loc[:, ['MOBILE_STUDY_TIME']] = data_train_new.loc[:, ['MOBILE_STUDY_TIME']].astype('float')

data_test_new.loc[:, ['WEB_STUDY_TIME']] = data_test_new.loc[:, ['WEB_STUDY_TIME']].astype('float')
data_test_new.loc[:, ['MOBILE_STUDY_TIME']] = data_test_new.loc[:, ['MOBILE_STUDY_TIME']].astype('float')

In [30]:
# 한 차시에 여러 번 접속했다면 시간을 합쳐준다.
train_grp = data_train_new.groupby(['NEW_ID', 'LESSON_ELEMENT_ID']).sum()
train_grp.reset_index(['NEW_ID', 'LESSON_ELEMENT_ID'], inplace=True)

test_grp = data_test_new.groupby(['NEW_ID', 'LESSON_ELEMENT_ID']).sum()
test_grp.reset_index(['NEW_ID', 'LESSON_ELEMENT_ID'], inplace=True)

In [31]:
# NEW_ID 당 수강시간
train_grp_2 = train_grp.groupby(['NEW_ID']).sum()
train_grp_2.reset_index(['NEW_ID'], inplace=True)

test_grp_2 = test_grp.groupby(['NEW_ID']).sum()
test_grp_2.reset_index(['NEW_ID'], inplace=True)

### 1-2. 수강한 횟수

In [32]:
# 몇차시 수강했는지 횟수 카운트
train_grp_cnt = train_grp.groupby(['NEW_ID']).count()
train_grp_cnt.reset_index(['NEW_ID'], inplace=True)

test_grp_cnt = test_grp.groupby(['NEW_ID']).count()
test_grp_cnt.reset_index(['NEW_ID'], inplace=True)

In [33]:
train_grp_cnt = train_grp_cnt[['NEW_ID', 'LESSON_ELEMENT_ID']]
test_grp_cnt = test_grp_cnt[['NEW_ID', 'LESSON_ELEMENT_ID']]

In [34]:
train_grp_cnt.rename(columns={'LESSON_ELEMENT_ID':'TAKEN_LEC_CNT'}, inplace=True)
test_grp_cnt.rename(columns={'LESSON_ELEMENT_ID':'TAKEN_LEC_CNT'}, inplace=True)

In [35]:
# COURSE_ID 기준으로 강의 횟수 붙이기
crs_att_cnt_train = pd.merge(train_grp_2, train_grp_cnt, on='NEW_ID', how='left')
crs_att_cnt_test = pd.merge(test_grp_2, test_grp_cnt, on='NEW_ID', how='left')

In [36]:
# COURSE_ID 컬럼 생성
crs_att_cnt_train.insert(1, 'COURSE_ID', '')
for i in tqdm(range(len(crs_att_cnt_train))):
    crs_att_cnt_train['COURSE_ID'].iloc[i] = crs_att_cnt_train['NEW_ID'].iloc[i][10:]

crs_att_cnt_test.insert(1, 'COURSE_ID', '')
for i in tqdm(range(len(crs_att_cnt_test))):
    crs_att_cnt_test['COURSE_ID'].iloc[i] = crs_att_cnt_test['NEW_ID'].iloc[i][10:]

100%|██████████| 42690/42690 [00:10<00:00, 3973.72it/s]
100%|██████████| 81204/81204 [00:33<00:00, 2400.53it/s]

In [37]:
# 학적 값이 없으면 drop
crs_att_cnt_train.dropna(inplace=True)
crs_att_cnt_test.dropna(inplace=True)

In [38]:
crs_att_cnt_train.reset_index(inplace=True)
crs_att_cnt_test.reset_index(inplace=True)

In [39]:
crs_att_cnt_train.drop(['index'], axis=1, inplace=True)
crs_att_cnt_test.drop(['index'], axis=1, inplace=True)

### 2. 학적 데이터

In [40]:
# 학적 데이터
user = pd.read_csv('ORACLE 및 VC 추출데이터/학적(00학번~21학번).csv', encoding='cp949')

In [41]:
user.rename(columns={'STD_NO':'USER_ID'}, inplace=True)

In [42]:
# 학부생만 추출
user = user.loc[user['UNIV_GRSC_FG'] == 'U0001001']

In [43]:
# 교류대학소속, 시간제학과, 미래융합대학 소속 학생 제외
idx = user.loc[user['COLG_NM'] == '교류대학'].index
user.drop(idx, inplace=True)

idx = user.loc[user['COLG_NM'] == '시간제대학'].index
user.drop(idx, inplace=True)

idx = user.loc[user['COLG_NM'] == '미래융합대학'].index
user.drop(idx, inplace=True)

In [44]:
user['USER_ID'] = user['USER_ID'].astype('str')

In [45]:
# 학번이 10자리가 아니면 제거
user = user.loc[user['USER_ID'].str.len() == 10]

#### 2-1. 국적

In [46]:
# 지역 2개로 줄이기 (국내/해외)
user.insert(18, 'LOC_FG', '')
for i in tqdm(range(len(user))):
    if user['NATI_NM'].iloc[i] == '대한민국':
        user['LOC_FG'].iloc[i] = '국내'
    else:
        user['LOC_FG'].iloc[i] = '해외'

100%|██████████| 78385/78385 [00:26<00:00, 2964.42it/s]

#### 2-1. 입학구분

In [47]:
# 입학구분(ENTR_SELT_FG2)에 값이 없으면 제거
user.dropna(subset=['ENTR_SELT_FG2'], inplace=True)

In [48]:
# 계열 정리
user.insert(19, 'ENTR_FG', '')
for i in tqdm(range(len(user))):
    if '정시' in user['ENTR_SELT_FG2'].iloc[i] :
        user['ENTR_FG'].iloc[i] = '정시'
    elif '수시' in user['ENTR_SELT_FG2'].iloc[i] :
        user['ENTR_FG'].iloc[i] = '수시'
    elif '편입' in user['ENTR_SELT_FG2'].iloc[i] :
        user['ENTR_FG'].iloc[i] = '편입'
    elif '외국인' in user['ENTR_SELT_FG2'].iloc[i] :
        user['ENTR_FG'].iloc[i] = '외국인'
    elif '재외국민' in user['ENTR_SELT_FG2'].iloc[i] :
        user['ENTR_FG'].iloc[i] = '재외국민'
    elif '약학대학' in user['ENTR_SELT_FG2'].iloc[i] :
        user['ENTR_FG'].iloc[i] = '약학대학'
    elif '추가' in user['ENTR_SELT_FG2'].iloc[i] :
        user['ENTR_FG'].iloc[i] = '추가'
    else:
        pass

100%|██████████| 77414/77414 [00:26<00:00, 2930.20it/s]

#### 2-2. 재입학여부

In [49]:
# 재입학여부
user.insert(20, 'RE_ENTR_YN', '')
for i in tqdm(range(len(user))):
    if user['RE_ENTR_DT'].isnull().iloc[i] == False :
        user['RE_ENTR_YN'].iloc[i] = 'Y'
    else:
        user['RE_ENTR_YN'].iloc[i] = 'N'

100%|██████████| 77414/77414 [00:37<00:00, 2062.15it/s]

### 4. 이클래스 접속 로그 전처리

In [51]:
# 2020학년도 2학기 자료
ecl_20_2 = pd.read_excel('온라인학습로그/7. LM_LOG_COURSE_CONNECT (교과목접속로그)_2020_2.xlsx', sheet_name='Sheet1', engine='openpyxl')
ecl_20_2_1 = pd.read_excel('온라인학습로그/7. LM_LOG_COURSE_CONNECT (교과목접속로그)_2020_2.xlsx', sheet_name='Sheet1_1', engine='openpyxl')
ecl_20_2_1_2 = pd.read_excel('온라인학습로그/7. LM_LOG_COURSE_CONNECT (교과목접속로그)_2020_2.xlsx', sheet_name='Sheet1_1_2', engine='openpyxl')
ecl_20_2_1_2_3 = pd.read_excel('온라인학습로그/7. LM_LOG_COURSE_CONNECT (교과목접속로그)_2020_2.xlsx', sheet_name='Sheet1_1_2_3', engine='openpyxl')
ecl_20_2_1_2_3_4 = pd.read_excel('온라인학습로그/7. LM_LOG_COURSE_CONNECT (교과목접속로그)_2020_2.xlsx', sheet_name='Sheet1_1_2_3_4', engine='openpyxl')

In [52]:
# 필요한 열만 추리기
ecl_20_2 = ecl_20_2[['COURSE_ID', 'USER_ID', 'REG_DATE']]
ecl_20_2_1= ecl_20_2_1[['COURSE_ID', 'USER_ID', 'REG_DATE']]
ecl_20_2_1_2= ecl_20_2_1_2[['COURSE_ID', 'USER_ID', 'REG_DATE']]
ecl_20_2_1_2_3= ecl_20_2_1_2_3[['COURSE_ID', 'USER_ID', 'REG_DATE']]
ecl_20_2_1_2_3_4= ecl_20_2_1_2_3_4[['COURSE_ID', 'USER_ID', 'REG_DATE']]

In [53]:
# 2020년 교과목접속로그 병합
ecl_2020 = pd.concat([ecl_20_2, ecl_20_2_1, ecl_20_2_1_2, ecl_20_2_1_2_3, ecl_20_2_1_2_3_4])

In [54]:
# 2021년 1학기 데이터
ecl_21_1 = pd.read_excel('온라인학습로그/7. LM_LOG_COURSE_CONNECT (교과목접속로그)_2021_1.xlsx', sheet_name='Sheet1', engine='openpyxl')
ecl_21_1_1 = pd.read_excel('온라인학습로그/7. LM_LOG_COURSE_CONNECT (교과목접속로그)_2021_1.xlsx', sheet_name='Sheet1_1', engine='openpyxl')
ecl_21_1_1_2 = pd.read_excel('온라인학습로그/7. LM_LOG_COURSE_CONNECT (교과목접속로그)_2021_1.xlsx', sheet_name='Sheet1_1_2', engine='openpyxl')
ecl_21_1_1_2_3 = pd.read_excel('온라인학습로그/7. LM_LOG_COURSE_CONNECT (교과목접속로그)_2021_1.xlsx', sheet_name='Sheet1_1_2_3', engine='openpyxl')
ecl_21_1_1_2_3_4 = pd.read_excel('온라인학습로그/7. LM_LOG_COURSE_CONNECT (교과목접속로그)_2021_1.xlsx', sheet_name='Sheet1_1_2_3_4', engine='openpyxl')

In [55]:
# 필요한 열만 추리기
ecl_21_1 = ecl_21_1[['COURSE_ID', 'USER_ID', 'REG_DATE']]
ecl_21_1_1= ecl_21_1_1[['COURSE_ID', 'USER_ID', 'REG_DATE']]
ecl_21_1_1_2= ecl_21_1_1_2[['COURSE_ID', 'USER_ID', 'REG_DATE']]
ecl_21_1_1_2_3= ecl_21_1_1_2_3[['COURSE_ID', 'USER_ID', 'REG_DATE']]
ecl_21_1_1_2_3_4= ecl_21_1_1_2_3_4[['COURSE_ID', 'USER_ID', 'REG_DATE']]

In [56]:
# 21년 1학기 데이터 병합
ecl_2021_1 = pd.concat([ecl_21_1, ecl_21_1_1, ecl_21_1_1_2, ecl_21_1_1_2_3, ecl_21_1_1_2_3_4])

In [58]:
# 2021학년도 2학기
ecl_21_2 = pd.read_excel('온라인학습로그/7. LM_LOG_COURSE_CONNECT (교과목접속로그)_2021_8월.xlsx', engine='openpyxl')
ecl_21_2_1 = pd.read_excel('온라인학습로그/7. LM_LOG_COURSE_CONNECT (교과목접속로그)_2021_9월(1).xlsx', engine='openpyxl')
ecl_21_2_2 = pd.read_excel('온라인학습로그/7. LM_LOG_COURSE_CONNECT (교과목접속로그)_2021_9월(2).xlsx', engine='openpyxl')
ecl_21_2_3 = pd.read_excel('온라인학습로그/7. LM_LOG_COURSE_CONNECT (교과목접속로그)_2021_10월(1).xlsx', engine='openpyxl')
ecl_21_2_4 = pd.read_excel('온라인학습로그/7. LM_LOG_COURSE_CONNECT (교과목접속로그)_2021_10월(2).xlsx', engine='openpyxl')
ecl_21_2_5 = pd.read_excel('온라인학습로그/7. LM_LOG_COURSE_CONNECT (교과목접속로그)_2021_11월(1).xlsx', engine='openpyxl')
ecl_21_2_6 = pd.read_excel('온라인학습로그/7. LM_LOG_COURSE_CONNECT (교과목접속로그)_2021_11월(2).xlsx', engine='openpyxl')

In [59]:
# 필요한 열만 추리기
ecl_21_2 = ecl_21_2[['COURSE_ID', 'USER_ID', 'REG_DATE']]
ecl_21_2_1 = ecl_21_2_1[['COURSE_ID', 'USER_ID', 'REG_DATE']]
ecl_21_2_2 = ecl_21_2_2[['COURSE_ID', 'USER_ID', 'REG_DATE']]
ecl_21_2_3 = ecl_21_2_3[['COURSE_ID', 'USER_ID', 'REG_DATE']]
ecl_21_2_4 = ecl_21_2_4[['COURSE_ID', 'USER_ID', 'REG_DATE']]
ecl_21_2_5 = ecl_21_2_5[['COURSE_ID', 'USER_ID', 'REG_DATE']]
ecl_21_2_6 = ecl_21_2_6[['COURSE_ID', 'USER_ID', 'REG_DATE']]

In [60]:
# 21년 2학기 데이터 병합
ecl_2021_2 = pd.concat([ecl_21_2, ecl_21_2_1, ecl_21_2_2, ecl_21_2_3, ecl_21_2_4, ecl_21_2_5, ecl_21_2_6])

In [62]:
# 2020-2021 병합
ecl_all = pd.concat([ecl_2020, ecl_2021_1, ecl_2021_2])

In [63]:
# 강의ID와 학번 기준으로 카운트
ecl_grp_tmp = ecl_all.groupby(['COURSE_ID', 'USER_ID']).count()
ecl_grp_tmp.reset_index(['COURSE_ID', 'USER_ID'], inplace=True)

In [64]:
ecl_grp_tmp.rename(columns={'REG_DATE':'ECL_CNT'}, inplace=True)

In [65]:
# 정렬
ecl_grp_tmp.sort_values(['USER_ID'], inplace=True)

In [66]:
# 학번이 10자리가 아니면 제거
ecl_grp_tmp = ecl_grp_tmp.loc[ecl_grp_tmp['USER_ID'].str.len() == 10]

In [67]:
ecl_grp_tmp.reset_index(drop=True, inplace=True)

In [68]:
# NEW_ID 생성
ecl_grp_tmp.insert(0, 'NEW_ID', '')
ecl_grp_tmp['NEW_ID'] = ecl_grp_tmp['USER_ID'] + ecl_grp_tmp['COURSE_ID']

In [69]:
# NEW_ID 기준으로 이클래스 접속횟수를 붙이기
crs_att_cnt_train = pd.merge(crs_att_cnt_train, ecl_grp_tmp[['NEW_ID', 'USER_ID', 'ECL_CNT']], on='NEW_ID', how='left')
crs_att_cnt_test = pd.merge(crs_att_cnt_test, ecl_grp_tmp[['NEW_ID', 'USER_ID', 'ECL_CNT']], on='NEW_ID', how='left')

In [70]:
# COURSE_ID 컬럼 생성
# crs_att_cnt_train.insert(1, 'COURSE_ID', '')
# for i in tqdm(range(len(crs_att_cnt_train))):
#     crs_att_cnt_train['COURSE_ID'].iloc[i] = crs_att_cnt_train['NEW_ID'].iloc[i][10:]

# crs_att_cnt_test.insert(1, 'COURSE_ID', '')
# for i in tqdm(range(len(crs_att_cnt_test))):
#     crs_att_cnt_test['COURSE_ID'].iloc[i] = crs_att_cnt_test['NEW_ID'].iloc[i][10:]

In [71]:
crs_att_cnt_train = crs_att_cnt_train[['NEW_ID', 'USER_ID', 'COURSE_ID', 'DURATION', 'WEB_STUDY_TIME', 'MOBILE_STUDY_TIME', 'TAKEN_LEC_CNT', 'ECL_CNT']]
crs_att_cnt_test = crs_att_cnt_test[['NEW_ID', 'USER_ID', 'COURSE_ID', 'DURATION', 'WEB_STUDY_TIME', 'MOBILE_STUDY_TIME', 'TAKEN_LEC_CNT', 'ECL_CNT']]

### 4-1. 해당 학기 전체 수업 횟수

In [72]:
crs_20_2 = pd.read_csv('ORACLE 및 VC 추출데이터/2020_2학기_강의목록.csv')
crs_21_1 = pd.read_csv('ORACLE 및 VC 추출데이터/2021_1학기_강의목록.csv')
crs_21_2 = pd.read_csv('ORACLE 및 VC 추출데이터/2021_2학기_강의목록.csv')

In [73]:
crs = pd.concat([crs_20_2, crs_21_1, crs_21_2])

In [109]:
crs_cnt = crs.groupby(['COURSE_ID', 'CONTENTS_ID']).count()
crs_cnt.reset_index(['COURSE_ID', 'CONTENTS_ID'], inplace=True)
crs_cnt2 = crs_cnt.groupby(['COURSE_ID']).count()
crs_cnt2.reset_index(['COURSE_ID'], inplace=True)

In [110]:
crs_cnt2.rename(columns={'CONTENTS_ID':'ALL_LEC_CNT'}, inplace=True)

In [111]:
train_new = pd.merge(crs_att_cnt_train, crs_cnt2, on='COURSE_ID', how='left')
test_new = pd.merge(crs_att_cnt_test, crs_cnt2, on='COURSE_ID', how='left')

In [112]:
# 테스트 데이터에 있는 2022학번 삭제
test_new = test_new.drop(81201)
test_new = test_new.drop(81202)
test_new = test_new.drop(81203)

### 4-1. (테스트셋) 지금까지의 강의횟수

In [113]:
wk_tmp = pd.merge(data13[['COURSE_ID', 'CONTENTS_ID']], crs[['CONTENTS_ID', 'WEEK', 'LECTURE_NUM']], on='CONTENTS_ID', how='left')

In [114]:
wk_unq = wk_tmp.drop_duplicates(['CONTENTS_ID'])

In [115]:
wk_unq_grp = wk_unq.groupby(['COURSE_ID']).count()
wk_unq_grp.reset_index(inplace=True)

In [116]:
wk_unq_grp.rename(columns={'CONTENTS_ID':'WK_LEC_CNT'}, inplace=True)

In [117]:
test_new_2 = pd.merge(test_new, wk_unq_grp[['COURSE_ID', 'WK_LEC_CNT']], on='COURSE_ID', how='left')

### 5. 학점 데이터

In [84]:
grd = pd.read_csv('ORACLE 및 VC 추출데이터/최종학점(2019~2021-1).csv',encoding='cp949')

In [85]:
grd.rename(columns={'STD_NO':'USER_ID', 'KOR_NM':'GRADE'}, inplace=True)
grd.loc[:, ['USER_ID']] = grd.loc[:, ['USER_ID']].astype('str')

In [86]:
# 분반번호 없으면 1로 채우기
grd['CLSS_NO'].fillna('1', inplace=True)

In [87]:
# 분반번호 데이터타입 변경
grd.loc[:, ['CLSS_NO']] = grd.loc[:, ['CLSS_NO']].astype('float')
grd.loc[:, ['CLSS_NO']] = grd.loc[:, ['CLSS_NO']].astype('int')
grd.loc[:, ['CLSS_NO']] = grd.loc[:, ['CLSS_NO']].astype('str')

In [88]:
# 분반번호 두 자리로 맞추기
for i in tqdm(range(len(grd))):
    if len(grd['CLSS_NO'][i]) == 1:
        grd['CLSS_NO'][i] = '0'+grd['CLSS_NO'][i]

100%|██████████| 505202/505202 [40:57<00:00, 205.55it/s]

In [89]:
grd.loc[:, ['YY']] = grd.loc[:, ['YY']].astype('str')
grd.loc[:, ['SHTM_CD']] = grd.loc[:, ['SHTM_CD']].astype('str')
grd.loc[:, ['HAKSU_NO']] = grd.loc[:, ['HAKSU_NO']].astype('str')

In [90]:
# COURSE_ID 생성하기
grd['COURSE_ID'] = 'S'+ grd['YY'] + grd['SHTM_CD'] + 'U' + grd['HAKSU_NO'] + grd['CLSS_NO']

In [91]:
# 키 값 생성하기
grd['NEW_ID'] = grd['USER_ID'] + grd['COURSE_ID']

In [92]:
# 자아와명상1 제외
idx = grd.loc[grd['HAKSU_NO'].str.contains('RGC0017', na=False)].index
grd.drop(idx, inplace=True)

In [93]:
# 자아와명상1 제외
idx = grd.loc[grd['HAKSU_NO'].str.contains('RGC0018', na=False)].index
grd.drop(idx, inplace=True)

In [94]:
# 등급으로 되어 있는 학점을 점수로 변환
grd.insert(6, 'SCORE', '')

for i in tqdm(range(len(grd))):
    if grd['GRADE'].iloc[i] == 'A+':
        grd['SCORE'].iloc[i] = 4.5
    elif grd['GRADE'].iloc[i] == 'A0':
        grd['SCORE'].iloc[i] = 4.0
    elif grd['GRADE'].iloc[i] == 'B+':
        grd['SCORE'].iloc[i] = 3.5
    elif grd['GRADE'].iloc[i] == 'B0':
        grd['SCORE'].iloc[i] = 3.0
    elif grd['GRADE'].iloc[i] == 'C+':
        grd['SCORE'].iloc[i] = 2.5
    elif grd['GRADE'].iloc[i] == 'C0':
        grd['SCORE'].iloc[i] = 2.0
    elif grd['GRADE'].iloc[i] == 'D+':
        grd['SCORE'].iloc[i] = 1.5
    elif grd['GRADE'].iloc[i] == 'D0':
        grd['SCORE'].iloc[i] = 1.0
    else:
        grd['SCORE'].iloc[i] = 0

100%|██████████| 485474/485474 [09:18<00:00, 868.96it/s]

### 7. 학점, credit, 이클래스 접속횟수를 트레이닝 데이터셋에 붙이기

#### (1) 트레이닝 셋

In [118]:
# 학점 (훈련셋에만 붙임)
train_df_1 = pd.merge(train_new, grd[['NEW_ID', 'SCORE']], on='NEW_ID', how='left')

In [98]:
# 과목의 학점값
cr20 = pd.read_excel('온라인학습로그/6. LM_COR_COURSE (과목)_2020.xlsx', engine='openpyxl')
cr21_1 = pd.read_excel('온라인학습로그/6. LM_COR_COURSE (과목)_2021_1.xlsx', engine='openpyxl')
cr21_2 = pd.read_excel('온라인학습로그/6. LM_COR_COURSE (과목)_2021_2.xlsx', engine='openpyxl')

In [99]:
crd = pd.concat([cr20, cr21_1, cr21_2])

In [119]:
# credit
train_df_2 = pd.merge(train_df_1, crd[['COURSE_ID','CREDIT']], on='COURSE_ID', how='left')

In [120]:
# 정보 없는 값 제거
train_df_2.dropna(subset=['SCORE'], inplace=True)
train_df_2.dropna(subset=['USER_ID'], inplace=True)

In [121]:
# 여름계절학기 제거
idx = train_df_2.loc[train_df_2['COURSE_ID'].str.contains('S2021U0002002')].index
train_df_2.drop(idx, inplace=True)

#### (2) 테스트 셋

In [122]:
# credit
test_df_2 = pd.merge(test_new_2, crd[['COURSE_ID','CREDIT']], on='COURSE_ID', how='left')

#### 수강과목 수

### 8. 각 변수를 강의당 비율로 변환

In [123]:
# 수업 수강 횟수가 0이면 제거
idx = train_df_2.loc[train_df_2['TAKEN_LEC_CNT'] == 0].index
train_df_2.drop(idx, inplace=True)

idx = test_df_2.loc[test_df_2['TAKEN_LEC_CNT'] == 0].index
test_df_2.drop(idx, inplace=True)

# 수강과목 학점 수가 0이면 제거
idx = train_df_2.loc[train_df_2['CREDIT'] == 0].index
train_df_2.drop(idx, inplace=True)

idx = test_df_2.loc[test_df_2['CREDIT'] == 0].index
test_df_2.drop(idx, inplace=True)

In [124]:
# 학점 (트레이닝만)
train_df_2['SCOR*CRED'] = train_df_2['SCORE'] * train_df_2['CREDIT']

In [126]:
# 데이터 타입 변경
train_df_2.loc[:, ['DURATION']] = train_df_2.loc[:, ['DURATION']].astype('float')
train_df_2.loc[:, ['WEB_STUDY_TIME']] = train_df_2.loc[:, ['WEB_STUDY_TIME']].astype('float')
train_df_2.loc[:, ['MOBILE_STUDY_TIME']] = train_df_2.loc[:, ['MOBILE_STUDY_TIME']].astype('float')
train_df_2.loc[:, ['TAKEN_LEC_CNT']] = train_df_2.loc[:, ['TAKEN_LEC_CNT']].astype('float')
train_df_2.loc[:, ['ECL_CNT']] = train_df_2.loc[:, ['ECL_CNT']].astype('float')
train_df_2.loc[:, ['ALL_LEC_CNT']] = train_df_2.loc[:, ['ALL_LEC_CNT']].astype('float')
train_df_2.loc[:, ['SCORE']] = train_df_2.loc[:, ['SCORE']].astype('float')
train_df_2.loc[:, ['CREDIT']] = train_df_2.loc[:, ['CREDIT']].astype('float')
train_df_2.loc[:, ['SCOR*CRED']] = train_df_2.loc[:, ['SCOR*CRED']].astype('float')

test_df_2.loc[:, ['DURATION']] = test_df_2.loc[:, ['DURATION']].astype('float')
test_df_2.loc[:, ['WEB_STUDY_TIME']] = test_df_2.loc[:, ['WEB_STUDY_TIME']].astype('float')
test_df_2.loc[:, ['MOBILE_STUDY_TIME']] = test_df_2.loc[:, ['MOBILE_STUDY_TIME']].astype('float')
test_df_2.loc[:, ['TAKEN_LEC_CNT']] = test_df_2.loc[:, ['TAKEN_LEC_CNT']].astype('float')
test_df_2.loc[:, ['ECL_CNT']] = test_df_2.loc[:, ['ECL_CNT']].astype('float')
test_df_2.loc[:, ['ALL_LEC_CNT']] = test_df_2.loc[:, ['ALL_LEC_CNT']].astype('float')

In [ ]:
# TAKEN_LEC_CNT : 해당 과목을 수강한 횟수
# ECL_CNT : 해당과목의 이클래스에 접속한 횟수
# ALL_LEC_CNT : 해당 과목의 한 학기 전체 수업 횟수
# WK_LEC_CNT : (테스트 데이터에서) 현재 주차까지의 전체 수업 횟수 (교수님이 수업한 횟수로, 내가 수강한 횟수와 다를 수 있는 값)

In [127]:
# 한 학점 당 1회 수강시간 : 수강시간/(수강횟수*학점수)
train_df_2['DURATION/(TK_LEC_CNT*CRED)'] = round(train_df_2['DURATION'] / (train_df_2['TAKEN_LEC_CNT'] * train_df_2['CREDIT']), 2)
test_df_2['DURATION/(TK_LEC_CNT*CRED)'] = round(test_df_2['DURATION'] / (test_df_2['TAKEN_LEC_CNT'] * test_df_2['CREDIT']), 2)

In [128]:
# 웹 : 한 학점당 수강시간 계산하기
train_df_2['WEB/(TK_LEC_CNT*CRED)'] = round(train_df_2['WEB_STUDY_TIME'] / (train_df_2['TAKEN_LEC_CNT'] * train_df_2['CREDIT']), 2)
test_df_2['WEB/(TK_LEC_CNT*CRED)'] = round(test_df_2['WEB_STUDY_TIME'] / (test_df_2['TAKEN_LEC_CNT'] * test_df_2['CREDIT']), 2)

In [129]:
# 모바일 : 한 학점당 수강시간 계산하기
train_df_2['MOBILE/(TK_LEC_CNT*CRED)'] = round(train_df_2['MOBILE_STUDY_TIME'] / (train_df_2['TAKEN_LEC_CNT'] * train_df_2['CREDIT']), 2)
test_df_2['MOBILE/(TK_LEC_CNT*CRED)'] = round(test_df_2['MOBILE_STUDY_TIME'] / (test_df_2['TAKEN_LEC_CNT'] * test_df_2['CREDIT']), 2)

### 9. 사람당으로 모두 sum

In [192]:
train_df_2_sum = train_df_2.groupby(['USER_ID']).sum()
test_df_2_sum = test_df_2.groupby(['USER_ID']).sum()

In [193]:
train_df_2_sum.reset_index(['USER_ID'], inplace=True)
test_df_2_sum.reset_index(['USER_ID'], inplace=True)

In [194]:
# 데이터 타입 정의
train_df_2_sum['SCOR*CRED'] = train_df_2_sum['SCOR*CRED'].astype(float)
train_df_2_sum['CREDIT'] = train_df_2_sum['CREDIT'].astype(float)

In [195]:
# 수강과목 수
train_tot_crs_cnt = train_df_2.groupby(['USER_ID']).count()
train_tot_crs_cnt.reset_index(inplace=True)
train_tot_crs_cnt = train_tot_crs_cnt[['USER_ID', 'NEW_ID']]
train_tot_crs_cnt.rename(columns={'NEW_ID':'TOT_CRS_CNT'}, inplace=True)

test_tot_crs_cnt = test_df_2.groupby(['USER_ID']).count()
test_tot_crs_cnt.reset_index(inplace=True)
test_tot_crs_cnt = test_tot_crs_cnt[['USER_ID', 'NEW_ID']]
test_tot_crs_cnt.rename(columns={'NEW_ID':'TOT_CRS_CNT'}, inplace=True)

In [196]:
# 수강과목 수가 0이면 drop
train_df_2_sum = train_df_2_sum.drop(15)
train_df_2_sum = train_df_2_sum.drop(27)
train_df_2_sum = train_df_2_sum.drop(647)

In [197]:
# 접속비율 : 나의수강횟수/전체수업횟수
train_df_2_sum['CONNECT_RAT'] = round(train_df_2_sum['TAKEN_LEC_CNT'] / (train_df_2_sum['ALL_LEC_CNT']), 2)
test_df_2_sum['CONNECT_RAT'] = round(test_df_2_sum['TAKEN_LEC_CNT'] / (test_df_2_sum['WK_LEC_CNT']), 2) # 지금까지의 수업횟수로 나눈다.

In [199]:
# 이클래스 접속비율 : (이클래스 접속횟수*지금까지의 수업횟수)/전체 수업횟수
train_df_2_sum['AVG_ECLASS_RAT'] = round(train_df_2_sum['ECL_CNT']/ train_df_2_sum['ALL_LEC_CNT'], 2)
test_df_2_sum['AVG_ECLASS_RAT'] = round(test_df_2_sum['ECL_CNT'] / test_df_2_sum['WK_LEC_CNT'], 2)

In [200]:
# 결석횟수 : 전체 수업횟수 - 수강횟수
train_df_2_sum['T_ABSENT_CNT'] = train_df_2_sum['ALL_LEC_CNT'] - train_df_2_sum['TAKEN_LEC_CNT']

# 결석횟수 : 지금까지의 수업횟수 - 수강횟수
test_df_2_sum['T_ABSENT_CNT'] = test_df_2_sum['WK_LEC_CNT'] - test_df_2_sum['TAKEN_LEC_CNT']

In [201]:
# 결석비율 : 결석횟수/전체 수업횟수
train_df_2_sum['ABSENT_RAT'] = train_df_2_sum['T_ABSENT_CNT'] / train_df_2_sum['ALL_LEC_CNT']
# 결석비율 : 결석횟수/지금까지의 수업횟수
test_df_2_sum['ABSENT_RAT'] = test_df_2_sum['T_ABSENT_CNT'] / test_df_2_sum['WK_LEC_CNT']

In [202]:
# 학점
train_df_2_sum['AVG_SCORE'] = round(train_df_2_sum['SCOR*CRED']/train_df_2_sum['CREDIT'], 2)

In [203]:
# 컬럼명 변경
train_df_2_sum.rename(columns={'DURATION/(TK_LEC_CNT*CRED)':'AVG_STUDY_TIME', 'WEB/(TK_LEC_CNT*CRED)':'AVG_WEB_STUDY_TIME', 'MOBILE/(TK_LEC_CNT*CRED)':'AVG_MOBILE_STUDY_TIME'}, inplace=True)
test_df_2_sum.rename(columns={'DURATION/(TK_LEC_CNT*CRED)':'AVG_STUDY_TIME', 'WEB/(TK_LEC_CNT*CRED)':'AVG_WEB_STUDY_TIME', 'MOBILE/(TK_LEC_CNT*CRED)':'AVG_MOBILE_STUDY_TIME'}, inplace=True)

In [204]:
train_df_3 = pd.merge(train_df_2_sum, train_tot_crs_cnt, on='USER_ID', how='left')
test_df_3 = pd.merge(test_df_2_sum, test_tot_crs_cnt, on='USER_ID', how='left')

In [205]:
train_df_3['TOT_CRS_CNT'] = train_df_3['TOT_CRS_CNT'].astype('float')
test_df_3['TOT_CRS_CNT'] = test_df_3['TOT_CRS_CNT'].astype('float')

### 10. 수강 강의 개수로 나누기

In [206]:
cols = ['AVG_STUDY_TIME', 'AVG_WEB_STUDY_TIME', 'AVG_MOBILE_STUDY_TIME', 'CONNECT_RAT', 'AVG_ECLASS_RAT', 'ABSENT_RAT']

for col in cols:
    train_df_3[col] = round(train_df_3[col]/train_df_3['TOT_CRS_CNT'], 2)
    test_df_3[col] = round(test_df_3[col]/test_df_3['TOT_CRS_CNT'], 2)

### 9. 학적 데이터와 붙이기

In [207]:
train_finl = pd.merge(user, train_df_2_sum, on='USER_ID', how='right')
train_finl.dropna(subset=['USER_ID'], inplace=True)
train_finl.dropna(subset=['KOR_NM'], inplace=True)

In [208]:
test_finl = pd.merge(user, test_df_2_sum, on='USER_ID', how='right')
test_finl.dropna(subset=['USER_ID'], inplace=True)
test_finl.dropna(subset=['KOR_NM'], inplace=True)

### 10. 분석용 데이터셋 전처리 완료

In [209]:
# 컬럼 순서 정렬
train_finl = train_finl[['USER_ID', 'GEN_FG', 'LOC_FG', 'SHYR_CD', 'PART_CD', 'ENTR_FG', 'RE_ENTR_YN', 'ACADEMIC_PROB_CNT',
                        'CONNECT_RAT', 'AVG_STUDY_TIME', 'AVG_WEB_STUDY_TIME', 'AVG_MOBILE_STUDY_TIME', 'ABSENT_RAT', 'AVG_ECLASS_RAT', 'AVG_SCORE']]

test_finl = test_finl[['USER_ID', 'GEN_FG', 'LOC_FG', 'SHYR_CD', 'PART_CD', 'ENTR_FG', 'RE_ENTR_YN', 'ACADEMIC_PROB_CNT',
                        'CONNECT_RAT', 'AVG_STUDY_TIME', 'AVG_WEB_STUDY_TIME', 'AVG_MOBILE_STUDY_TIME', 'ABSENT_RAT', 'AVG_ECLASS_RAT']]

In [210]:
train_finl.rename(columns={'SHYR_CD':'GRADE', 'PART_CD':'FLD_FG'}, inplace=True)
test_finl.rename(columns={'SHYR_CD':'GRADE', 'PART_CD':'FLD_FG'}, inplace=True)

In [211]:
train_finl.reset_index(drop=True, inplace=True)
test_finl.reset_index(drop=True, inplace=True)

In [212]:
# 데이터셋 크기
print(len(train_finl))
print(len(test_finl))

11723
11406

In [214]:
# 저장
#train_finl.to_csv('전처리완료/train.csv', encoding='cp949')
#test_finl.to_csv('전처리완료/test.csv', encoding='cp949')